[Unit]
Description=Post Init Setup

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/lib/postinit.sh
RemainAfterExit=true

[Unit]
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target
